</main>

<footer class="page-footer">
  <nav class="pagination">
    {% if paginator %}
    {% if paginator.previous_page %}
    <a href="https://marvelosian.github.io/wallpapers/{{ paginator.previous_page_path }}" class="prev">
      <span class="arrow-left"></span> PREV</a>
    {% else %}
    <div class="prev disabled"><span class="arrow-left"></span> PREV</div>
    {% endif %}
    <span class="page-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="https://marvelosian.github.io/wallpapers/{{ paginator.next_page_path }}" class="next">NEXT </a>
    {% else %}
    <span class="next disabled">NEXT </span>
    {% endif %}
    {% endif %}
  </nav>

  <p>
    brought to you by <a href="https://www.instagram.com/dev_intj/">@dev_intj</a>.<br>
    <a href="https://marvelosian.github.io/wallpapers/">latest wallpapers</a> / 
    <a href="https://marvelosian.github.io/wallpapers/all">view all tags</a> / 
    <a href="">CATEGORY 3</a> / 
    <a href="">CATEGORY 4</a>
  </p>
</footer>

</body>

</html>