<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} · {{ site.description }}</title>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400" rel="stylesheet">
  <link rel="stylesheet" href="https://dev-intj.github.io/wallpapers/assets/style.css">
  <link rel="icon" href="https://dev-intj.github.io/wallpapers/favicon/icon.ico">
</head>

<body>
  <header class="page-header">
    <div class="container">
      <h1 class="page-title">{% if page.layout == 'category' %}all {{ page.title | downcase }} wallpapers{% else %}{{ page.title | downcase }}{% endif %}</h1>
      <nav class="nav">
        <ul>
          <li>
            <a href="https://dev-intj.github.io/wallpapers/">latest wallpapers</a>
          </li>
          <li>
            <a href="https://dev-intj.github.io/wallpapers/all">view all tags</a>
          </li>
          <li>
            <a href="">CATEGORY 3</a>
          </li>
          <li>
            <a href="">CATEGORY 4</a> 
          </li>
        </ul>
      </nav>
      <p class="mobile">tap on an image to open it at full size. to download, long-press the image + save!</p>
    </div>
  </header>

  <main class="page-content" aria-label="Content">
